AWS_PROFILE=default
AWS_REGION=us-east-1
LEVIATHAN_BUCKET=your-s3-bucket-name
LEVIATHAN_ENV=dev
FAS_API_KEY=<your-key>
EARTH_DATA=<your-token>
EARTHDATA_USER=<your-earthdata-username>
EARTHDATA_PASSWORD=<your-earthdata-password>